In [54]:
import pandas as pd
import os

In [67]:
total_followage = pd.DataFrame(columns=['from_id', 'from_name', 'to_id', 'to_name', 'followed_at'])

directory = 'data/greek_streamers'
for filename in os.listdir(directory):
    if filename.endswith(".csv"): 
        dataframe = pd.read_csv(os.path.join(directory, filename))
        total_followage = total_followage.append(dataframe)
        continue
    else:
        continue

In [68]:
total_followage.shape

(344969, 5)

In [69]:
total_followage.head(1)

     from_id   from_name     to_id    to_name           followed_at
0  177699035  menios4001  54021966  Piperakos  2019-03-11T12:54:20Z

In [70]:
total_followage = total_followage.drop_duplicates(subset='from_id')

In [73]:
total_followage.shape

(207484, 5)